{% extends "list/base.html" %}
{% block contains %}
{% load static %}
<div class="container">
<nav aria-label="breadcrumb">
    <ol class= "breadcrumb">
        <li class="breadcrumb-item"><a href="#">トップ</a></li>
        <li class="breadcrumb-item"><a href="#">本を探す</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="#">書籍一覧</a></li>
    </ol>
</nav>
</div><br><br>

<title>書籍一覧</title>
<div class="container">
  <div class="d-flex align-items-center justify-content-center">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="キーワードで探す">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default">ボタン</button>
        </span>
    </div>
  </div>
</div><br><br>
<div class="container">
  <div class="d-flex align-items-center justify-content-center">
    <p>
    カテゴリで探す<br>
      <a class="btn btn-light" href="#" role="button">ビジネス書</a>
      <a class="btn btn-light" href="#" role="button">自己啓発書</a>
      <a class="btn btn-light" href="#" role="button">社会・時事</a>
      <a class="btn btn-light" href="#" role="button">実用書</a>
      <a class="btn btn-light" href="#" role="button">サイエンスシリーズ</a><br>
      <a class="btn btn-light" href="#" role="button">教育・学参・語学</a>
      <a class="btn btn-light" href="#" role="button">文芸・エッセイ</a>
      <a class="btn btn-light" href="#" role="button">手帳</a>
      <a class="btn btn-light" href="#" role="button">その他</a>
    </p>
  </div>
</div>

<div class="container">
  <div class="d-flex align-items-center justify-content-center">
    <p>
    話題のキーワード<br>
      <a class="btn btn-light" href="#" role="button">いま話題の本</a>
      <a class="btn btn-light" href="#" role="button">ロングセラー</a>
      <a class="btn btn-light" href="#" role="button">天才ドリルシリーズ</a>
      <a class="btn btn-light" href="#" role="button">コーチング</a>
    </p>
  </div>
</div>

<div class="container">
  <div class="col-12">
    <div class="mx-auto test-box">　　　　　全件　n　件(DBから引っ張ってくる)</div>
</div><br>

<div class="card-group">
  <div class="card" style="width: 12rem;">
      <img class="bd-placeholder-img card-img-top" src="https://dma-storage.s3-ap-northeast-1.amazonaws.com/images/contents/9784799326664.jpg" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
      <div class="card-body">
        <h5 class="card-title">100点のほめ方</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">著者｜原邦雄</li>
      </ul>
      <div class="card-body">
        <a class="btn btn-secondary" href="" role="button">新刊</a>
        <a class="btn btn-secondary" href="" role="button">ビジネス書</a>
      </div>
　　</div>

  <div class="card" style="width: 12rem;">
      <img class="bd-placeholder-img card-img-top" src="https://dma-storage.s3-ap-northeast-1.amazonaws.com/images/contents/9784799326664.jpg" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
      <div class="card-body">
        <h5 class="card-title">100点のほめ方</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">著者｜原邦雄</li>
      </ul>
      <div class="card-body">
        <a class="btn btn-secondary" href="" role="button">新刊</a>
        <a class="btn btn-secondary" href="" role="button">ビジネス書</a>
      </div>
　　</div>

  <div class="card" style="width: 12rem;">
      <img class="bd-placeholder-img card-img-top" src="https://dma-storage.s3-ap-northeast-1.amazonaws.com/images/contents/9784799326664.jpg" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
      <div class="card-body">
        <h5 class="card-title">100点のほめ方</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">著者｜原邦雄</li>
      </ul>
      <div class="card-body">
        <a class="btn btn-secondary" href="" role="button">新刊</a>
        <a class="btn btn-secondary" href="" role="button">ビジネス書</a>
      </div>
　　</div>

  <div class="card" style="width: 12rem;">
      <img class="bd-placeholder-img card-img-top" src="https://dma-storage.s3-ap-northeast-1.amazonaws.com/images/contents/9784799326664.jpg" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
      <div class="card-body">
        <h5 class="card-title">100点のほめ方</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">著者｜原邦雄</li>
      </ul>
      <div class="card-body">
        <a class="btn btn-secondary" href="" role="button">新刊</a>
        <a class="btn btn-secondary" href="" role="button">ビジネス書</a>
      </div>
　　</div>

  <div class="card" style="width: 12rem;">
      <img class="bd-placeholder-img card-img-top" src="https://dma-storage.s3-ap-northeast-1.amazonaws.com/images/contents/9784799326664.jpg" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
      <div class="card-body">
        <h5 class="card-title">100点のほめ方</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">著者｜原邦雄</li>
      </ul>
      <div class="card-body">
        <a class="btn btn-secondary" href="" role="button">新刊</a>
        <a class="btn btn-secondary" href="" role="button">ビジネス書</a>
      </div>
　　</div>
</div><br>

<div class="card-group">
  <div class="card" style="width: 12rem;">
      <img class="bd-placeholder-img card-img-top" src="https://dma-storage.s3-ap-northeast-1.amazonaws.com/images/contents/9784799326664.jpg" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
      <div class="card-body">
        <h5 class="card-title">100点のほめ方</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">著者｜原邦雄</li>
      </ul>
      <div class="card-body">
        <a class="btn btn-secondary" href="" role="button">新刊</a>
        <a class="btn btn-secondary" href="" role="button">ビジネス書</a>
      </div>
　　</div>

  <div class="card" style="width: 12rem;">
      <img class="bd-placeholder-img card-img-top" src="https://dma-storage.s3-ap-northeast-1.amazonaws.com/images/contents/9784799326664.jpg" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
      <div class="card-body">
        <h5 class="card-title">100点のほめ方</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">著者｜原邦雄</li>
      </ul>
      <div class="card-body">
        <a class="btn btn-secondary" href="" role="button">新刊</a>
        <a class="btn btn-secondary" href="" role="button">ビジネス書</a>
      </div>
　　</div>

  <div class="card" style="width: 12rem;">
      <img class="bd-placeholder-img card-img-top" src="https://dma-storage.s3-ap-northeast-1.amazonaws.com/images/contents/9784799326664.jpg" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
      <div class="card-body">
        <h5 class="card-title">100点のほめ方</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">著者｜原邦雄</li>
      </ul>
      <div class="card-body">
        <a class="btn btn-secondary" href="" role="button">新刊</a>
        <a class="btn btn-secondary" href="" role="button">ビジネス書</a>
      </div>
　　</div>

  <div class="card" style="width: 12rem;">
      <img class="bd-placeholder-img card-img-top" src="https://dma-storage.s3-ap-northeast-1.amazonaws.com/images/contents/9784799326664.jpg" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
      <div class="card-body">
        <h5 class="card-title">100点のほめ方</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">著者｜原邦雄</li>
      </ul>
      <div class="card-body">
        <a class="btn btn-secondary" href="" role="button">新刊</a>
        <a class="btn btn-secondary" href="" role="button">ビジネス書</a>
      </div>
　　</div>

  <div class="card" style="width: 12rem;">
      <img class="bd-placeholder-img card-img-top" src="https://dma-storage.s3-ap-northeast-1.amazonaws.com/images/contents/9784799326664.jpg" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
      <div class="card-body">
        <h5 class="card-title">100点のほめ方</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">著者｜原邦雄</li>
      </ul>
      <div class="card-body">
        <a class="btn btn-secondary" href="" role="button">新刊</a>
        <a class="btn btn-secondary" href="" role="button">ビジネス書</a>
      </div>
　　</div>
</div><br>

<div class="card-group">
  <div class="card" style="width: 12rem;">
      <img class="bd-placeholder-img card-img-top" src="https://dma-storage.s3-ap-northeast-1.amazonaws.com/images/contents/9784799326664.jpg" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
      <div class="card-body">
        <h5 class="card-title">100点のほめ方</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">著者｜原邦雄</li>
      </ul>
      <div class="card-body">
        <a class="btn btn-secondary" href="" role="button">新刊</a>
        <a class="btn btn-secondary" href="" role="button">ビジネス書</a>
      </div>
　　</div>

  <div class="card" style="width: 12rem;">
      <img class="bd-placeholder-img card-img-top" src="https://dma-storage.s3-ap-northeast-1.amazonaws.com/images/contents/9784799326664.jpg" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
      <div class="card-body">
        <h5 class="card-title">100点のほめ方</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">著者｜原邦雄</li>
      </ul>
      <div class="card-body">
        <a class="btn btn-secondary" href="" role="button">新刊</a>
        <a class="btn btn-secondary" href="" role="button">ビジネス書</a>
      </div>
　　</div>

  <div class="card" style="width: 12rem;">
      <img class="bd-placeholder-img card-img-top" src="https://dma-storage.s3-ap-northeast-1.amazonaws.com/images/contents/9784799326664.jpg" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
      <div class="card-body">
        <h5 class="card-title">100点のほめ方</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">著者｜原邦雄</li>
      </ul>
      <div class="card-body">
        <a class="btn btn-secondary" href="" role="button">新刊</a>
        <a class="btn btn-secondary" href="" role="button">ビジネス書</a>
      </div>
　　</div>

  <div class="card" style="width: 12rem;">
      <img class="bd-placeholder-img card-img-top" src="https://dma-storage.s3-ap-northeast-1.amazonaws.com/images/contents/9784799326664.jpg" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
      <div class="card-body">
        <h5 class="card-title">100点のほめ方</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">著者｜原邦雄</li>
      </ul>
      <div class="card-body">
        <a class="btn btn-secondary" href="" role="button">新刊</a>
        <a class="btn btn-secondary" href="" role="button">ビジネス書</a>
      </div>
　　</div>

  <div class="card" style="width: 12rem;">
      <img class="bd-placeholder-img card-img-top" src="https://dma-storage.s3-ap-northeast-1.amazonaws.com/images/contents/9784799326664.jpg" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
      <div class="card-body">
        <h5 class="card-title">100点のほめ方</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">著者｜原邦雄</li>
      </ul>
      <div class="card-body">
        <a class="btn btn-secondary" href="" role="button">新刊</a>
        <a class="btn btn-secondary" href="" role="button">ビジネス書</a>
      </div>
　　</div>
</div><br>

<div class="card-group">
  <div class="card" style="width: 12rem;">
      <img class="bd-placeholder-img card-img-top" src="https://dma-storage.s3-ap-northeast-1.amazonaws.com/images/contents/9784799326664.jpg" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
      <div class="card-body">
        <h5 class="card-title">100点のほめ方</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">著者｜原邦雄</li>
      </ul>
      <div class="card-body">
        <a class="btn btn-secondary" href="" role="button">新刊</a>
        <a class="btn btn-secondary" href="" role="button">ビジネス書</a>
      </div>
　　</div>

  <div class="card" style="width: 12rem;">
      <img class="bd-placeholder-img card-img-top" src="https://dma-storage.s3-ap-northeast-1.amazonaws.com/images/contents/9784799326664.jpg" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
      <div class="card-body">
        <h5 class="card-title">100点のほめ方</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">著者｜原邦雄</li>
      </ul>
      <div class="card-body">
        <a class="btn btn-secondary" href="" role="button">新刊</a>
        <a class="btn btn-secondary" href="" role="button">ビジネス書</a>
      </div>
　　</div>

  <div class="card" style="width: 12rem;">
      <img class="bd-placeholder-img card-img-top" src="https://dma-storage.s3-ap-northeast-1.amazonaws.com/images/contents/9784799326664.jpg" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
      <div class="card-body">
        <h5 class="card-title">100点のほめ方</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">著者｜原邦雄</li>
      </ul>
      <div class="card-body">
        <a class="btn btn-secondary" href="" role="button">新刊</a>
        <a class="btn btn-secondary" href="" role="button">ビジネス書</a>
      </div>
　　</div>

  <div class="card" style="width: 12rem;">
      <img class="bd-placeholder-img card-img-top" src="https://dma-storage.s3-ap-northeast-1.amazonaws.com/images/contents/9784799326664.jpg" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
      <div class="card-body">
        <h5 class="card-title">100点のほめ方</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">著者｜原邦雄</li>
      </ul>
      <div class="card-body">
        <a class="btn btn-secondary" href="" role="button">新刊</a>
        <a class="btn btn-secondary" href="" role="button">ビジネス書</a>
      </div>
　　</div>

  <div class="card" style="width: 12rem;">
      <img class="bd-placeholder-img card-img-top" src="https://dma-storage.s3-ap-northeast-1.amazonaws.com/images/contents/9784799326664.jpg" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
      <div class="card-body">
        <h5 class="card-title">100点のほめ方</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">著者｜原邦雄</li>
      </ul>
      <div class="card-body">
        <a class="btn btn-secondary" href="" role="button">新刊</a>
        <a class="btn btn-secondary" href="" role="button">ビジネス書</a>
      </div>
　　</div>
</div><br>

<div class="container">
  <div class="d-flex align-items-center justify-content-center">
    <nav aria-label="ページ送り">
      <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">1関数化できそう</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
      </ul>
    </nav>
  </div>
</div>
{% endblock %}